
.env

# Ambientes Virtuais
.venv/
venv/
env/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Arquivos do PyCharm
.idea/

# Planilhas e relatórios (Dados Sensíveis)
*.xlsx
*.xls
*.csv
*.tsv

# Logs de sistema
*.log